<!DOCTYPE html>
<html>
	<head>
	  <title>{{ page.title }}</title>
	  <!-- link to main stylesheet -->
	  <link rel="stylesheet" type="text/css" href="/css/main.css">
	  <!-- imports -->
	  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	  <meta charset="utf-8"> 
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">

		{{ content }}
		  
		</div><!-- /.container -->
		<footer>
		  <ul class="footer_list">
		    <li><i class="fa fa-envelope"></i> <a href="mailto:mbontrager@gmail.com">email</a><br /></li>
		    <li><i class="fa fa-github"></i> <a href="http://github.com/mbontrager">github</a><br /></li>
		    <li><i class="fa fa-twitter"></i> <a href="http://twitter.com/martinbontrager">twitter</a><br /></li>
		    <li><i class="fa fa-google"></i> <a href="https://scholar.google.com/citations?hl=en&amp;user=8vpxlWsAAAAJ">scholar</a></li>
		  </ul>
		</footer>
	</body>
</html>
